.main-block {
	background: #80cdc6; 
  background-position: top left;
  width: 560px;
  height: 445px;
  position: relative;
}
.clouds {
	width: 345px;
	height: 110px;
	position: absolute;
	bottom: 335px;
	left: 215px;
	z-index: 1;
}

.world {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 95px;
	z-index: 2;
}

.ship {
	width: 114px;
	height: 130px;
	position: absolute;
	bottom: 30px;
	left: 20px;
	z-index: 3;
}

.water {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 390px;
	z-index: 4;
}

.additional {
	background: #176c7f;
	width: 560px;
	height: 10px;
	position: absolute;
	top: 435px;
	z-index: 4;
}